.outerContainer {
  padding-top: 10px;
  width: 900px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  width: '1000px';
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #FFFFFF;
  align-items: center;
  padding-top:10px;
  padding-left:20px;
  padding-right:2px;
}
 .custom-input {
  width: 500px;
  height: 35px;
  border: 2px solid #008CBA;
}
.request-button-container {
  float: right;
  margin-right: -4px;
  margin-bottom:10px;
  margin-top:8px;

}
