/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.main-button {
  width: 100px;
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
  border-radius: 12px;
  font-size: 16px;
  margin: 4px 6px;
  cursor: pointer;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.error {
  border-color: red;
}